.background-app{
    background-color: black;
}

.background-logo-app{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .background-app{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }
    #root{
        height: 100%;
    }
  }