.close-button{
    font-size: 20px;
    cursor: pointer;
    color: #feda4a;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 11px;
}

@media only screen and (max-width: 768px) {
    .close-button{
        margin-top: 11px;
    }
  }