.details-name-div{
     display: flex;
     justify-content: center;
}

.details-main-div{
    color: #feda4a;
}

.details-div{
    text-align: center;
}

.film-card-title{
    margin-bottom: 25px;
}

.details-films h3{
    cursor: pointer;
}

.details-films h3:hover{
    color: #cacbcd;
}

.details-card{
    background: black !important;
    border-color: #feda4a !important;
    margin: 20px !important;
    width: 45%;
}

@media only screen and (max-width: 768px) {
    .details-card{
        width: 90%;
    }
    .details-main-div{
        margin-bottom: 10px;
    }
  }