.box-name{
    color: white;
}

.div-no-results{
    display: flex;
    justify-content: center;
    color: #cacbcd;
    font-size: 18px;
    font-weight: bold;
}

.list-result-loader{
    margin-top: 150px !important;
}

@media only screen and (max-width: 768px) {
    .ui.grid{
        margin: 0px;
    }
}

