.input-search-bar{
    margin-right: 5px !important;
}

.search-bar-background{
    background: black !important;
    display: flex;
    margin-bottom: 0px !important;
}

.div-search-bar{
    display: flex;
    width: 100%;
}

.form-search-bar{
    width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .search-bar-background{
        display: block;
        width: 100%;
    }
    .input-search-bar{
        margin: 0px 0px 5px 0px !important;
    }
  }
