.input-search-bar{
    margin-right: 5px !important;
}

.search-bar-background{
    background: black !important;
    display: flex;
}

.div-search-bar{
    display: flex;
    width: 100%;
}

.form-search-bar{
    width: 100% !important;
}